*{
    box-sizing: border-box;
}

body{
    background-color: rgb(12, 0, 20);
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
    text-align: justify;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    grid-template-areas:
        "h h h"
        "n ar as"
        "f f f";

    background-color: brown;
}

header{
    grid-area: h;
    background-color: black;
    color: white;
    padding-left: 5px;
}

nav{
    grid-area: n;
    background-color: rgb(59, 7, 156);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

nav li{
    list-style: none;
    text-align: center;
    margin: 5px 10px;
    border: 1px solid gray;
    padding: 5px;
}

nav li:hover{
    background-color: blanchedalmond;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

article{
    grid-area: ar;
    margin: 5px;
}

aside{
    grid-area: as;
    margin: 5px;
    background-color: blueviolet;
    padding: 10px;
}

footer{
    grid-area: f;
    background-color: black;
    color: aqua;
    text-align: center;
    padding: 15px;
}

h1{
    text-align: center;
}

h2{
    font-weight: lighter;
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

h3{
    font-style: italic;
}

.kepek{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}

img{
    width: 100%;
    border: 1px solid gray;
}


@media screen and (max-width:600px){

    main{
        grid-template-columns: 1fr;

        grid-template-areas:
            "h"
            "n"
            "ar"
            "as"
            "f";
    }

    nav ul{
        grid-template-columns: 1fr;
    }

    .kepek{
        grid-template-columns: 1fr;
    }

    p{
        font-size: calc(10px + 2vw);
    }
}